* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: min(1vh, 0.7vw);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    overflow: hidden;
}

#title {
    font-size: 10rem;
}

#area {
    background-color: #ddf;
    width: 100vw;
    height: 100rem;

    display: grid;
    place-items: center;
}

#field {
    background-color: #eef;
    border-radius: 5rem;
    box-sizing: border-box;

    width: 120rem;
    height: 30rem;

    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

#hand {
    width: 120rem;
    height: 20rem;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    >div {
        width: 58rem;
        height: 20rem;

        background-color: #eef;
        border-radius: 3rem;
        box-sizing: border-box;

        display: grid;
        grid-auto-flow: column;
        place-items: center;
    }
}

.card {
    background-color: #fff;
    border: #99f 0.5rem solid;
    border-radius: 1rem;

    width: 10rem;
    height: 12rem;

    font-size: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s scale ease-out, 0.1s border-color;
    will-change: translate, scale, opacity, border-color;
    backface-visibility: visible;

    #field & {
        width: 15rem;
        height: 18rem;

        font-size: 6rem;
    }

    &.chosen,
    &#dummy {
        border-color: #f99;
        scale: 1.2;
    }
}

#dummy {
    position: absolute;
    display: none;
}